<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Application setting... -->
  <appSettings>
  
  	<!-- log4net config file... -->
  	<add key="log4net-config-file" value="log4net.config"/>
  	
    <!-- ********************HIS接口相关参数******************** -->
    <add key="UseHISInterface" value="1" />
    <add key="HISDBType" value="0" />
    <add key="HISDBServer" value="172.16.0.26" />
    <add key="HISDBName" value="bsrun" />
    <add key="HISDBUser" value="hiscall" />
    <add key="HISDBPassword" value="" />
    <add key="HISConnectionTimeOut" value="500" />
    <add key="HISSQLTimeOut" value="2" />
    <add key="UseOutPatientList" value="1" />
    <add key="UseInpatientList" value="1" />
    <add key="UsePhysicalList" value="1" />
    <add key="UseEmergencyList" value="1" />
    <add key="UsePhysicalExamInterface" value="1" />
    <add key="UpdateHISOrderInfo" value="1" />
    <add key="HISInterface_DateRange" value="20" />
    <!-- 登记完成后是否手工添加收费细项，0=是，1=否 -->
    <add key="UseAddExamDetail" value="0" />
    
  </appSettings>
</configuration>
